#footer {
    height: 10vh;
    text-align: center;
    padding: 20px;
}

footer ul li {
    list-style: none;
}
footer ul li a {
    color: white;
}
footer ul li a:hover{
    color: gray;
}
.table {
    margin-bottom: 0;
}

.row img {
    width: 50%;
    margin-top: 10%;
    border-radius: 20px;
}

.row img:hover {
    filter: opacity(.5);
    transition: .5s;
}


.row p {
    padding-top: 20%;
}
.mainb{
    background-color:#212529;
    margin-top: 0;
}
.biografia {
   margin :4% 0 0 0
}

.biografia img { 
    width: 50vh;
    margin-top: 35%;
    margin-left: 5%;
}

.biografia div{
    text-align: justify;
    color: white;
    padding: 10px;
}

.formulario { 
    background-image: url(https://scontent.faep8-1.fna.fbcdn.net/v/t39.30808-6/284559014_5233407520030230_9145932391862803581_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=0debeb&_nc_ohc=DuViZXFCy64AX9Gaw0s&_nc_ht=scontent.faep8-1.fna&oh=00_AT8YI2qgo2ClJnqVBKUyBfHb_09XMpZn3Cxpk0j7S50HgA&oe=62A955BE);
    background-position:center;
    padding: 10% 0 13% 0;
}

.mb-3 {
    text-align: center;
    color: white;
    font-size: 35px;
}

.form-control{
    width: 25%;
    margin-left: 37%;
}