#footer {
    height: 10vh;
    text-align: center;
    padding: 20px;
}

.table {
    margin-bottom: 0;
}

.row img {
    width: 50%;
    margin-top: 10%;
    border-radius: 20px;
}

.row img:hover {
    filter: opacity(.5);
    transition: .5s;
}


.row p {
    padding-top: 20%;
}